<!--base.html불러오는 코드-->
{% extends 'base.html' %}

<!--이부분부터 base.html 중복코드 이외의 코드라는 것을 알려주기위한 코드-->
{% block contents%}
<body>
<br>
    {%for blog in blogs.all%}
    <div class="card" style= "margin: 1rem 4rem auto;">
        <div class="card-body">
            <h1 class="card-title">제목 : {{blog.title}}</h1>
            <p class="card-subtitle mb-2 text-muted">날짜 : {{blog.pub_date}}</p>
            <p class="card-text">본문 미리보기 : {{blog.summary}} 
            <br>
            <a href="{%url 'detail' blog.id%}">...more</a> </p>
        </div>
    </div>
    {%endfor%}
</body>
{% endblock %}

